<app-navigation-bar></app-navigation-bar>
<div class="container home">
    <div class="row justify-content-around">
        <div class="col-4 textstyle">
            We make it Super Simple
            <div class="col-2 imagestyle">
                <img src="../assets/images/collect_img-video.png" width="400px" height="250">
            </div>
        </div>
        <div class="col-6">
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col content">
            <app-quick-cash></app-quick-cash>
        </div>
    </div>
</div>