<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="row">
            <div class="col-sm-4 solid">
                <img src="../assets/images/Get Paid Instantly.png" width="90px" height="90px">
                <p><b>Quick cash disbursement </b> <br>
                <p class="text"> Get term loans that your business needs within 72 hrs </p>

            </div>
            <div class="col-sm-4 solid">
                <img src="../../assets/images/freelancer_feature_icon_6@1.5x.png" width="90px" height="90px">
                <p><b>Ace your business finances </b> <br>
                <p class="text"> Manage banking, accounting & everything in between, on one platform </p>
            </div>
            <div class="row">
                <div class="col-sm-4 solid">
                    <img src="../../assets/images/Low interest rate.png" width="90px" height="90px">
                    <p><b>Low interest rate </b> <br>
                    <p class="text"> Achieve your financial goals with an amazing interest rate starting at 13% per
                        annum </p>

                </div>
                <div class="col-sm-4 solid">
                    <img src="../../assets/images/Covid.png" width="90px" height="90px">
                    <p><b>Loans to fight COVID-19 </b> <br>
                    <p class="text"> Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 solid">
                <img src="../../assets/images/Secure Payments.png" width="90px" height="90px">
                <p><b>Zero paperwork </b> <br>
                <p class="text"> Get started instantly by submitting only your basic details & bank statements </p>
            </div>
        </div>

    </div>
</div>